/* common */

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,h2 {
  margin: 0;
  font-weight: normal;
  color: #22577a;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}

p{
  margin: 0;
  line-height: 1.6;
}

p+p {
  margin-top: 16px;
}

a{
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
}


.container{
  width: calc(100% - 32px);
  margin: 0 auto;
  max-width: 800px;
}

.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity .3s, transform .3s;
}

.animate.slide-from-left {
  transform: translateX(-40px);
}

.animate.slide-from-right {
  transform: translateX(40px);
}

.animate.appear {
  opacity: 1;
  transform: none;
}

/* recruit */

.recruit img {
  width: 600px;
  height: 200px;
  object-fit: cover;
}

/* features */

.features {
  padding: 64px 32px 64px;
  overflow: hidden;
}

.features h1 {
  text-align: center;
  padding-bottom: 32px;
}

.features .pic {
  padding: 32px;
}

.features img {
  height: initial;
  width: 100%;
  border-radius: 4px;
}

.features h2 {
  padding-bottom: 16px;
}

.features section {
  margin-top: 40px;
}

/* application-guidelines */

.application-guidelines h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.application-guidelines h2 {
  margin-top: 10px;
  font-size: 18px;
}

table {
  padding: 0;
  margin: 0;
  width: calc(100% - 16px);
}
tr{
  vertical-align: top;
}

th,td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 2px rgba(225, 225, 225, 0.95);
}

th {
  width:  120px;
  text-align: left;
  vertical-align: top;
  font-weight:normal;
  font-size: 16px;
}

td {
  font-size: 14px;
}


.btn {
  display: block;
  width: 30%;
  line-height: 48px;
  border: 2px solid #486c7f;
  text-align: center;
  margin: 32px auto ;
  transition: opacity .3s;
  color: #22577a;
}

.btn:hover{
  cursor: pointer;
  opacity: .5;
}

/* footer */

footer {
  background-color: #486c7f;
  padding: 16px 0;
  color: #eee;

}

footer .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer small {
  font-size: 16px;
}

footer ul li a i {
  font-size: 24px;
  margin-left: 8px;
}

footer ul {
  display: flex;
  list-style: none;
}

footer li + li {
  margin-left: 16px;
}





/* large screen */

@media (min-width: 600px) {

  .features section {
    display: flex;
  }

  .features section:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .recruit img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .features img {
    height: initial;
    width: 100%;
  }

}