/* common*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgb(254, 247, 242); */
  color: #486c7f;
}

h1 img {
  width: 236px;
  height: 96px;
  vertical-align: bottom;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
}

p{
  margin: 0;
}


.container{
margin: 0 16px;

}


ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity .3s;
}

a:hover {
  opacity: .5;
}

/* header */

header {
  padding: 8px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header.scrolled {
  background-color: rgb(254, 247, 242);
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  display: flex;
}

header li a{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: center;
}

header li a div{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: center;
}


header li a i{
  font-size: 18px;
}
header li a div i{
  font-size: 18px;
}


header li + li {
  margin-left: 8px;
}

header form {
  display: none;
}

header input,
header button {
  all: unset;
}

header input {
  border-bottom: 1px solid #aaa;
  padding: 4px;
  width: 300px;
}

header button {
  cursor: pointer;
}


.sp-menu #open.hide {
  display: none;
}

main{
  padding: 0 16px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}


.overlay ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  margin: 16px auto;
  padding: 0 auto;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}
.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay ul li a{
font-size: 16px;
}


.container{
  width: 400px;
  margin: 0 auto;
  /* display: block; */
}

/* main */

main {
    background-color: #fff;
    padding-top: 128px;
    padding-bottom: 62px;
    z-index: 0;
}


main section {
  text-align:center;
}

main h1{
  font-size: 24px;
  text-align: center;
  padding: 60px 0;
}

main h2{
  font-size: 20px;
  margin-top: 16px;
}

main img{
  vertical-align: bottom;
}

main p {
  line-height: 1.8;
  margin-top: 16px;
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

main section + section {
  margin-top: 60px;
}



/* footer */

footer {
  background-color: #486c7f;
  padding: 16px 0;
  color: #eee;

}

footer .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer small {
  font-size: 16px;
}

footer ul li a i {
  font-size: 24px;
  margin-left: 8px;
}

footer ul {
  display: flex;
}

footer li + li {
  margin-left: 16px;
}

/* medium screen */

@media (min-width: 600px) {
.pc-menu {
  display: none;
}
}
/* large screen */

@media (min-width: 800px) {
  .container {
    width: calc(100% - 32px);
    margin: 0 auto;
    max-width: 800px;
  }
  header form {
    display: block;
  }

  .pc_menu {
    display: block;
  }

  .pc_menu nav {
    position: relative;
    width: calc(100% - 240px);
    padding: 0;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .pc_menu nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pc_menu nav ul li+li{
    margin-left: 32px;
  }

  .pc_menu nav ul li a{
    font-size: 24px;

  }
  .pc_menu.hide{
    display: none;
  }

}

/* animation */

.animate {
  /* margin: 0 auto; */
  opacity: 0;
  transform: translateY(40px);
  transition: opacity .3s, transform .3s;
}


.animate.appear {
  /* margin: 0 auto; */
  opacity: 1;
  transform: translateY(0);

}