/* common*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fef7f2;
  color: #486c7f;
}

h1 img {
  width: 236px;
  height: 96px;
  vertical-align: bottom;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
}

p{
  margin: 0;
}


.container{
margin: 0 16px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity .3s;
}

a:hover {
  opacity: .5;
}

/* header */

header {
  padding: 8px 0;
}

header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  display: flex;
}

header li a{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: center;
}

header li a div{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: center;
}


header li a i{
  font-size: 18px;
}
header li a div i{
  font-size: 18px;
}


header li + li {
  margin-left: 8px;
}

header form {
  display: none;
}

header input,
header button {
  all: unset;
}

header input {
  border-bottom: 1px solid #aaa;
  padding: 4px;
  width: 300px;
}

header button {
  cursor: pointer;
}

.pc_menu{
  display: none;
}


.sp-menu #open.hide {
  display: none;
}

main{
  padding: 0 16px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}


.overlay ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  margin: 16px auto;
  padding: 0 auto;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}
.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay ul li a{
font-size: 16px;
}

/* hero */
.main {
  width: 100%;
  height: 400px;
  background-color: #dbeaf9;
}

.main.hide{
  display: none;
}

.hero {
  width: 100%;
  margin: 16px auto;
  height: 100%;
  /* overflow: hidden; */
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}


.hero img.current {
  opacity: 1;
}

/* location */

.location h1 {
  margin-top: 30px;
  margin-bottom: 4px;
}

.location h2 {
  margin-top: 10px;
  font-size: 18px;
}

table {
  padding: 0;
  margin: 0;
  width: calc(100% - 16px);
}

tr{
  vertical-align: top;
}

th,td {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 2px rgba(72, 108, 127, 0.4);
}

th {
  width:  120px;
  text-align: left;
  vertical-align: top;
  font-weight:normal;
  font-size: 16px;
}

td {
  font-size: 14px;
}

iframe{
  margin-top: 20px;
}


/* products */

.products {
  padding: 80px 0;
}

.products ul {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.products li {
  width: calc((100% - 16px) / 2);
  opacity: 1;
}


.products li img {
  width: 100%;
  cursor: pointer;
}

.products li h2 {
  font-size: 16px;
  margin-top: 8px;
}

.products li a {
  display: block;
}


.products .btn {
  display: block;
  width: 70%;
  line-height: 48px;
  border: 2px solid #486c7f;
  text-align: center;
  margin: 32px auto 0;
  color: inherit;
  transition: opacity .3s;
}

.products .btn:hover{
  cursor: pointer;
  opacity: .5;
}


/* modal */

.hoge-item {
  cursor: pointer;
  transition: opacity .3s;
}
.hoge-item:hover {
  opacity: .5;
}



.modal-block {
display: none;
position: fixed;
justify-content: center;
align-items: center;
z-index: 5;
left: 0;
top: 0;
width: 100%;
height: 100%;
margin: 0 auto;
overflow: auto;
background-color: rgba(0, 0, 0, 0.8);
}
.img-section {
width: 400px;
height: 400px;
position: relative;
margin: 0 auto;
}

.img-section span {
  position: absolute;
  transform: translate(50%, -50%);
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fff;
}
.img-section span::before {
    width: 40px;
    height: 40px;
    display: block;
  }

.img-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  display: flex;
  justify-content: space-between;
  padding: 0 64px;
 }

.caption-ttl, .caption-money {
font-size: 20px;
letter-spacing: .09em;
color: #fff;
margin-top: 10px;
text-align: center;
}


.caption-cart {
transition: initial;
opacity: initial;
font-size: 20px;
color: #fff;
background-color: #486c7f;
width: 72%;
text-align: center;
margin: 4px auto;
border-radius: 4px;
transition: color .3S;
}

.caption-cart:hover {
  transition: initial;
  opacity: initial;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}



/* footer */

footer {
  background-color: #486c7f;
  padding: 16px 0;
  color: #eee;

}

footer .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer small {
  font-size: 16px;
}

footer ul li a i {
  font-size: 24px;
  margin-left: 8px;
}

footer ul {
  display: flex;
}

footer li + li {
  margin-left: 16px;
}

/* medium screen */

@media (min-width: 600px) {
  .products li {
    width: calc((100% - 32px) / 3);
  }
}

.pc-menu {
  display: none;
}

/* large screen */

@media (min-width: 800px) {



.hero {
  width: calc(100% - 32px);
  margin: 16px auto;
  max-width: 840px;
}



  .container {
    width: calc(100% - 32px);
    margin: 0 auto;
    max-width: 800px;
  }
  header form {
    display: block;
  }

  .pc_menu {
    display: block;
  }

  .pc_menu nav {
    position: relative;
    width: calc(100% - 240px);
    padding: 0;
    margin-top: 32px;
    /* margin-bottom: 16px; */
    margin-left: auto;
    margin-right: auto;
  }
  .pc_menu nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin-bottom: 16px; */
  }

  .pc_menu nav ul li+li{
    margin-left: 32px;
  }

  .pc_menu nav ul li a{
    font-size: 24px;

  }
  .pc_menu.hide{
    display: none;
  }
}

